.badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    &--green {
        background: #42B883;
    }
    &--blue {
        background: #64C4ED;
    }
    &--pink {
        background: #FFBBCC;
    }
    &--lightgreen {
        background: #B6E6BD;
    }
    &--grey {
        background: #C9D1D3;
    }
    &--purple {
        background: #C355F5;
    }
    &--lime {
        background: #B6E6BD;
    }
    &--black {
        background: #09011A;
    }
    &--red {
        background: #FF6464;
    }
}