.list {
    &:first-child {
        margin-bottom: 40px;
    }
     li {
        padding: 10px 12px;
        display: flex;
        position: relative;

        &:hover {
          background: rgba($color: #fff, $alpha: 0.2);
          .remove-btn {
            opacity: 0.2;
          }
        }
        span {
          position: relative;
          top: 1px;
          margin-right: 8px;
          svg {
            opacity: 0.5;
          }
        }
        .remove-btn {
          position: absolute;
          top: 11px;
          right: 10px;
          opacity: 0;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
}