.list {
    cursor: pointer;
    &:first-child {
        margin-bottom: 20px;
    }
    li {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 12px;
        &:hover {
            background: rgba(255,255,255,0.3);
                .list-remove {
                    opacity: 0.2;
                }
        }
        i {
            margin-right: 8px;
            svg {
                display: flex;
                opacity: 0.5;
            }
            i {
                margin-right: 0;
            }
        }
        .list-remove {
            position: absolute;
            top: 15px;
            right: 15px;
            margin-right: 0;
            opacity: 0;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}