.list-badge {
  cursor: pointer;
    &:first-child {
        margin-bottom: 40px;
    }
     li { 
        a {
          padding: 10px 12px;
          display: flex;
          position: relative;
          align-items: center;
          color: #000;
        }
        &:hover {
          background: rgba($color: #fff, $alpha: 0.2);
          .remove-btn {
            opacity: 0.2;
          }
        }
        span {
          position: relative;
          display: flex;
          margin-right: 8px;
          top: 1px;
          svg {
            opacity: 0.5;
          }
        }
        p {
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden; 
          width: 160px; 
          white-space: nowrap;
        }
        .remove-btn {
          position: absolute;
          top: 11px;
          right: 10px;
          opacity: 0;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
}
.list {
  &-all {
    li {
      margin-bottom: 40px;
    }
    a {
      display: flex;
      padding: 10px 12px;
  
      span {
        margin-right: 8px;
        display: flex;
        position: relative;
        top: 1px;
        svg {
          opacity: 0.4;
        }
      }
      p {
        color: #000;
      }
    }
  }
  &-add {
    position: relative;
    left: -4px;
    li {
      display: flex;
      opacity: 0.4;
      padding: 10px 12px;
      span {
        margin-right: 8px;
      }
    }
  }
}