.todo__tasks {
    font-size: 16px;
    flex: 1;
    padding: 55px;
    &__title {
        display: flex;
    }
    &__title h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 32px;
        line-height: 39px;
        color: #64C4ED;
    }
    &__title img {
        margin-left: 14px;
        cursor: pointer;
        opacity: 0.3;
        &:hover {
            opacity: 0.8;
        }
    }
    hr {
       margin-top: 20px;
       margin-bottom: 31px;
    }
    .badge {
        cursor: pointer;
        width: 20px;
        height: 20px;
        border: 2px solid #E8E8E8;
    }
    &-row {
        display: flex;
        align-items: center;
    }
    &__text {
        margin-left: 15px;
        border: none;
    }
    &__items {
        .checkbox  {
            position: relative;
            display: flex;
            svg {
                position: absolute;
                top: 4px;
                right: 2px;
                opacity: 0;
                transition: background-color 0.15s ease-in-out,
                border-color 1s ease-in-out;
            }
            .check-label {
                position: relative;
                display: inline-block;
                border: 2px solid #E8E8E8;
                width: 20px;
                height: 20px;
                border-radius: 25px;
                cursor: pointer;
                transition: background-color 0.15s ease-in-out;
                &:hover {
                    background: #F2F2F2;
                    svg {
                        opacity: 1;
                    }
                }
            }
            #check {
                display: none;
            }
            #check:checked + .check-label {
                background: #4DD599;
                border-color: #4DD599;
                svg {
                    opacity: 1;
                    path {
                        stroke: #fff;
                    }
                }
                &:hover {
                    svg {
                        path {
                            opacity: 1;
                        } 
                    }
                }
            }
        }
    }
}