.todo {
    &__addlist {
        margin-top: 20px;
        position: absolute;
        &-popup {
            position: absolute;
            top: 50px;
            left: 8px;
            width: 235px;
            height: 150px;
            background: #FFFFFF;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding: 18px;
            input {
                width: 100%;
                padding: 8px 11px;
                opacity: 0.6;
            }
            &-colors {
                display: flex;
                justify-content: space-between;
            }
            .badge {
                cursor: pointer;
                width: 20px;
                height: 20px;
                margin-top: 13px;
                margin-bottom: 13px;
                &.active {
                    border: 2px solid #525252;
                }
            }
            &__close-btn {
                cursor: pointer;
                position: absolute;
                top: -8px;
                right: -8px;
            }
        }
    }
}