.todo__addlist {
    margin-top: 20px;
    margin-left: 10px;
    &-popup {
        position: relative;
        left: -25px;
        top: 15px;
        width: 235px;
        height: 150px;
        background: #FFFFFF;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 18px;
        input {
            width: 100%;
            padding: 8px 10px;
            opacity: 0.4;
        }
        &-colors {
            display: flex;
            justify-content: space-between;
            margin: 13px 0 13px 0;
            .badge {
                width: 20px;
                height: 20px;
                cursor: pointer;
                &.active {
                    border: 2px solid #525252;
                }
            }
        }
    }
    .close-btn {
        position: absolute;
        top: -8px;
        right: -8px;
        cursor: pointer;
    }
}