.todo__addlist {
    margin-top: 30px;
    &-colors {
        margin-top: 12px;
    }
    &-colors ul {
        display: flex;
        justify-content: space-between;
    }
}
.todo__addlist-popup {
    width: 240px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    position: relative;
    .badge {
        width: 20px;
        height: 20px;
        border: 2px solid transparent;
        cursor: pointer;
        &.active {
            border: 2px solid #525252;
        }
    }
}
.addlist-popup-close {
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
}