.todo__tasks {
    &-add {
        ul {
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
            display: flex;
            opacity: 0.4;
            li {
                svg {
                    position: relative;
                    top: 3px;
                }
            }
        }
        &-popup {
            input {
                width: 100%;
                opacity: 0.4;
                padding: 8px 11px;
                margin-bottom: 10px;

            }
            .close-btn {
                max-width: 90px;
                background: #F4F6F8;
                color: #9C9C9C; 
                &:hover {
                    background: darken(#F4F6F8,5);
                }
                &:active {
                    background: darken(#F4F6F8,7);
                }
            }
            .add-btn {
                max-width: 145px;
                margin-right: 9px;
            }
        }
    }
}