.todo__addtask {
    position: relative;
    .task-add {
        opacity: 0.4;
        cursor: pointer;
        li {
            display: flex;
        }
        max-width: 170px;
        &:hover {
            opacity: 0.8;
        }
        p {
            font-size: 16px;
        }
        span {
            margin-right: 19px;
            position: relative;
            top: 3px;
        }
    }
    &-popup {
        input {
            width: 100%;
            padding: 10px 14px;
            margin-bottom: 16px;
            opacity: 0.4;
        }
        .add-btn {
            max-width: 145px;
            margin-right: 9px;
            min-width: 145px;
            &:disabled {
                background: #d8d8d8;
            }
        }
        .cancel-btn {
            cursor: pointer;
            padding: 10px 14px;
            border: none;
            background: #F4F6F8;
            color: #9C9C9C;
            font-size: 14px;
            border-radius: 4px;
            &:hover {
                background: darken($color: #F4F6F8, $amount: 1);
            }
            &:active {
                background: darken($color: #F4F6F8, $amount: 1.5);
            }
        }
    }
}