*,*::after,*::before {
  font-family: 'Roboto',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
ul {
  list-style: none;
  
}
a {
  color: #fff;
  text-decoration: none;
}
.todo {
  font-size: 14px;
  width: 750px;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 1px 5px 20px#F1F1F1;
}
.active {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.btn {
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: none;
  background: #4DD599;
  border-radius: 4px;
  padding: 10px;
}