*,*::after,*::before {
  font-family: 'Roboto',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  height: 530px;
  border: 1px solid #F1F1F1;
  box-shadow: 1px 5px 20px #fff;
  font-size: 14px;
}
.todo__sidebar {
  width: 200px;
  background: #F4F6F8;
  height: 100%;
  border-right: 1px solid#F1F1F1;
  padding: 50px 20px 0 20px;
  outline: none;
}
.active {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
input[type='text'] {
  padding: 10px;
  opacity: 0.5;
  width: 100%;
  &:hover {
    opacity: 0.7;
  }
}
.btn {
  width: 100%;
  padding: 10px;
  background: #4DD599;
  border-radius: 4px;
  color: #fff;
  border: none;
  margin-top: 12px;
}